Hi $DRIVER_NAME,<br/><br/>

This is to inform you that your Smartzi account has been deactivated by the admin. <br/><br/>

In case of queries, Please contact our support team at $SUPPORT_PHONE or write to us at $SUPPORT_EMAIL.<br/><br/>

Regards,<br/>
Smartzi