Hi Mr/Ms. $CUSTOMER_NAME <br/><br/>,

Thanks for booking with Smartzi!<br/>
Your booking has been confirmed for booking ID: $BOOKING_ID.<br/><br/>

Driver 		: $DRIVER_NAME 	$DRIVER_PHONE PHV - $PRIVATE_HIRE_LICENSENO<br/>
Vehicle		: $VEHICLE_COLOR $VEHICLE_MODEL $VEHICLE_NUMBER <br/>
Fare		: &#163; $TOTAL_FARE<br/>
Pickup location : $PICK_UP_LOCATION_ADDRESS<br/><br/>
Pick up time	: $TRAVEL_DATE<br/><br/>

Regards,<br/>
Smartzi <br/>
        #if ($TRIP_SOURCE == "TRUE")
        Download app <a href=$APP_LINK>here</a>
        #end