<style>
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

<!--@font-face {
   font-family: 'open sans';
   src: url('http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}-->
  #bodyTable {
    font-family: 'open sans'; 
  }
 @media only screen and (max-width: 480px){
    #emailFooter tr td p { font-size:7px !important;}
    #emailHeader tr td span {font-size:10px !important;}
  }
</style>
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="background:#333;">
            <tr>
                <td align="center" valign="top">
                    <table id="emailContainer" style="background:#fff; margin-top: 35px; margin-bottom: 33px;" width="740" cellspacing="0" cellpadding="30" border="0">
                        <tr>
                            <td align="center" style="border-bottom: 2px solid rgb(9, 9, 9); padding-bottom: 14px;" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailHeader">                                                               
                                    <tr>
                                        <td valign="center" align="left">
                                            <div class="logo">
                                                <img src="https://secure.smartzi.com/leap-communication/staticpage/images/logo.png" style="float: left; width: 240px;">
                                            </div>
                                        </td>
                                        <td align="right" valign="top">
                                            <h2 style="color: #333; text-transform: uppercase; font-size: 20px; font-family: 'Open Sans'; font-weight: 700; margin-bottom: 4px; margin-top: 3px;">Travel Receipt</h2>
                                            <p style="color: #333; font-size: 14px; margin-top: 0px; font-family: 'open sans'; margin-bottom: 0;">Hi $CUSTOMER_NAME, Thank You for Smartzi with us..</p>
                                            <p style="color:#333; font-family: arial; margin-left: 34px; font-size: 11px; margin-top: 6px;"><span style="margin-right: 4px;">Bill Date:</span>$DATE_TIME</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left" style="padding-bottom: 0px; padding-top: 0;">
                                <h2 style="color: rgb(51, 51, 51); font-family: 'Open Sans'; font-size: 27px; margin-top: 27px;">Trip Summary</h2>
   

                             <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailHeader">
                                    <tr>
                                            
                                            <td>
                                            <div style="width: 50%; float: left;">
                                              <p style="color: #333; font-family: 'open sans'; overflow: hidden; font-size: 16px; margin-top: 0;"><span style="font-size: 13px;">Bill To: </span><br>Mr.$CUSTOMER_NAME<br><span style="font-size: 15px;">($EMAIL_ID)</span></p>
                                            </div>
                                            </td>
                                            <td>
                                            <div>
                                            <img src="https://secure.smartzi.com/leap-communication/staticpage/images/time-img.png" style="float: left; margin-right: 13px; margin-top: 10px;"><p style="color:#333;font-family:'open sans';overflow:hidden;font-size:16px;margin-top:0"><span style="font-size: 13px;">Trip Date:</span><br>$TRIP_END_TIME</p>


                                            </div>
                                            </td>
                                    </tr>        
                                    <tr>        
                                           <td> <div style="width: 100%; float: left;">
                                            <div style="float: left; margin-right: 12px;">
                                                 <img src="https://secure.smartzi.com/leap-communication/staticpage/images/map-icon1.png">
                                            </div>
                                            <div style="overflow: hidden;">
                                            <div>
                                           <p style="color:#333; font-family: 'open sans'; font-size: 16px; overflow: hidden; margin-top: 0px;"><span style="font-size: 13px;">Pickup:</span><br>$PICK_UP_LOCATION_ADDRESS</p>
                                            </div>
                                            <div style="width: 100%; float: left;">
                                           <p style="color: #333; font-family: 'open sans'; font-size: 16px; overflow: hidden;"><span style="font-size: 13px;">Dropoff:</span><br>$DESTINATION_ADDRESS</p>
                                            </div>
                                            </div>
                                            </div>
                                            </td>
                                           
                                    </tr>
                                    <tr>
                                        <td align="left" valign="top">
                                                <p style="color: #333; font-family: 'open sans'; margin-top: 6px; font-size: 16px;"><span style="font-size: 13px;">Total Distance: </span>$TOTAL_DISTANCE miles</p>
                                                </td>
                                                <td align="left" valign="top">
                                                <p style="color: rgb(51, 51, 51); font-family: 'open sans'; font-size: 16px; text-align: left; margin-left: 40px;"><span style="font-size: 13px; ">Total Travel Time:</span> $TOTAL_TRAVEL_TIME mins</p>
                                                </td>
                                    </tr>
                                    <tr>
                                         <td align="left" valign="top">
                                            <div style="padding-left: 4px;">
                                                <h2 style="color:#333; font-family: 'Open Sans'; font-size: 27px; margin-top: 40px;">Total Fare &#163; $CALCULATE_FARE</h2>
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div>
                                            <img src="https://secure.smartzi.com/leap-communication/staticpage/images/pay.png" style="float: left; margin-right: 13px; margin-top: 9px;"><p style="color: rgb(51, 51, 51); font-family: 'open sans'; overflow: hidden; font-size: 16px; text-align: left; margin-right: -28px; margin-top: 21px;"><span style="font-size: 13px;">Paid by Cash</span></p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left" style="padding: 0px;">
                                <table border="0" cellpadding="30" cellspacing="0" width="100%" style="margin-bottom: 31px;" id="emailBody">
                                    #if ($WAITING_TIME != 0)

                                                                                     <tr style="color: #333; font-family: 'open sans'; font-size: 16px;">
                                                                                      <td style="padding: 7px 17px;">Ride fare </td>
                                                                                        <td>&#163; $ACTUAL_FARE</td>

                                                                                              <tr style="color: #333; font-family: 'open sans'; font-size: 16px;">
                                                                                                <td style="padding: 7px 17px;">Discount Applied</td>
                                                                                               <td>&#163; $DISCOUNT_FARE</td>
                                                                                                            </tr>


                                                                                                       <tr style="color: #333; font-family: 'open sans'; font-size: 16px;">
                                                                                                                <td style="padding: 7px 17px;">Waiting Charge</td>
                                                                                                     <td>&#163; $WAITING_TIME_AMOUNT</td>
                                                                                                       </tr>

                                                                                                           <tr style="color: #333; font-family: 'open sans'; font-size: 16px;">
                                                                                                      <td style="padding: 7px 17px;">Total fare </td>
                                                                                                      <td>&#163; $TOTAL_FARE</td>
                                                                                                                   </tr>
                                                                                    #else

                                                                                          <tr style="color: #333; font-family: 'open sans'; font-size: 16px;">
                                                                                             <td style="padding: 7px 17px;">Ride fare </td>
                                                                                              <td>&#163; $ACTUAL_FARE</td>
                                                                                              </tr>

                                                                                        <tr style="color: #333; font-family: 'open sans'; font-size: 16px;">
                                                                                   <td style="padding: 7px 17px;">Discount Applied</td>
                                                                                    <td>&#163; $DISCOUNT_FARE</td>
                                                                                     </tr>

                                                                               <tr style="color: #333; font-family: 'open sans';">
                                                                           <td style="padding: 9px 17px; border-top: 1px dotted #838382; font-weight: bold; font-size: 19px;">Total fare </td>
                                                                            <td style="border-top: 1px dotted #838382; font-weight: bold; font-size: 19px;">&#163; $CALCULATE_FARE</td>
                                                                                    </tr>
                                                                                 #end
                                               
                                            </table>
                                            <p style="font-size: 11px;">* Subject to Service Tax</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="top">
                                                <table style="width: 100%; border: 1px dotted #838382; padding: 0px;">
                                                    <tr style="color: #333; font-family: 'open sans'; text-align: left; font-size: 27px; display: block; border-bottom: 1px dotted #838382; padding: 2px 12px; width: 96%;">
                                                        <th>Driver Info</th>
                                                    </tr>
                                                    <tr>
                                                                #if ($DRIVER_IMAGEPATH == $DRIVER_IMAGEPATH)

<td style="padding: 29px 0px;"><div style="float: left; margin-left: 13px; margin-right: 15px; height: 104px; width: 100px;"><img src="https://secure.smartzi.com/leap-communication/staticpage/images/driver.png"></div><p style="overflow: hidden; color: #333; font-family: 'open sans'; line-height: 27px; font-size: 17px; margin-top: 15px;">Mr.$DRIVER_NAME<br>Vehicle Number :  $VEHICLE_NUMBER<br>Driver License :  $PHV_LICENCE_NUMBER<br></p></td>
                                                         #else 
<td style="padding: 29px 0px;"><div style="float: left; margin-left: 13px; margin-right: 15px; height: 104px; width: 100px;"><img src=$DRIVER_IMAGEPATH></div><p style="overflow: hidden; color: #333; font-family: 'open sans'; line-height: 27px; font-size: 17px; margin-top: 15px;">Mr.$DRIVER_NAME<br>Vehicle Number :  $VEHICLE_NUMBER<br>Driver License :  $PHV_LICENCE_NUMBER<br></p></td>
#end
                                                    </tr>
                                                </table>
                                            </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left" style="border-top: 2px solid rgb(9, 9, 9); padding: 0px;">
                                <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooter">
                                    <tr>
                                        <td align="left" valign="top">
                                            <p style="color: #333; font-family: 'open sans'; font-size: 10px; margin: 0px;"><img src="https://secure.smartzi.com/leap-communication/staticpage/images/list-icons.png" style="margin-right: 7px;"><a style="color: rgb(35, 183, 226);  text-decoration: none;" href="#" target="_blank" >Smartzi</a> is previledged in providing you the best service</p>
                                            <p style="color: #333; font-family: 'open sans'; font-size: 10px; margin: 0px;"><img src="https://secure.smartzi.com/leap-communication/staticpage/images/list-icons.png" style="margin-right: 7px;">To continue delighting the customers, we encourage to you provide your feedback, queries & <br><span style="margin-left: 18px;">suggestions</span> to <a href="mailto:info@smartzi.com" style="text-decoration: none;"><span style="color: #333;">info@smartzi.com</span></a></p>
                                            <p style="color: #333; font-family: 'open sans'; font-size: 10px; margin: 0px;"><img src="https://secure.smartzi.com/leap-communication/staticpage/images/list-icons.png" style="margin-right: 7px;">Please visit our <a href="http://test.smartzi.com/v2-beta/legal.html" style="text-decoration: none;" target="_blank"><span style="color: rgb(35, 183, 226);">Legal page</span></a>  to refer our Terms & Services, Cancellation, Refund, Lost Property Policies</p>
                                            <p style="color:#333; font-family: 'open sans'; font-size: 10px; margin: 0px;"><img src="https://secure.smartzi.com/leap-communication/staticpage/images/list-icons.png" style="margin-right: 8px;">This receipt is electronically generated and does not require signature</p>
                                        </td>
                                        <td align="right" valign="center">
                                            <a href="https://www.facebook.com/Smartzi-410432925963651/" target="_blank" style="margin-right: 5px;"><img src="https://secure.smartzi.com/leap-communication/staticpage/images/fb.png"></a><a href="https://twitter.com/SmartziApp" target="_blank" style="margin-right: 5px;"><img src="https://secure.smartzi.com/leap-communication/staticpage/images/tw.png"></a><a href="https://www.linkedin.com/company/smartzi" target="_blank" style="margin-right: 5px;"><img src="https://secure.smartzi.com/leap-communication/staticpage/images/in.png"></a><a href="https://www.youtube.com/channel/UCQmcW-ZV4K9I9oztzZHNuPw" target="_blank" style="margin-right: px;"><img src="https://secure.smartzi.com/leap-communication/staticpage/images/youtube.png"></a><a href="https://www.instagram.com/smartziapp/" target="_blank" style="margin-right: 8px;"><img src="https://secure.smartzi.com/leap-communication/staticpage/images/instagram.png"></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>