Hi $FIRST_NAME,<br/><br/>

You have a new Booking Request! <br/><br/>
Booking $BOOKING_ID confirmed for $TRAVEL_DATE. <br/>
Customer details:$CUSTOMER_NAME $CUSTOMER_PHONE <br/>
Pick up location: $PICK_UP_LOCATION_ADDRESS <br/>
Destination: $DESTINATION_ADDRESS <br/>
Trip start time: $PICK_UP_TIME <br/><br/>

Regards,<br/>
Team Smartzi