<div style="padding:0px; border:none; width:700px; margin:0px auto;">
	<div style="font-size:12.0pt;font-family:Open Sans;">
<div style="margin-left:0px;font-size:12.0pt;font-family:Open Sans;">
<p>Dear $DRIVER_NAME,</p>

Thank you for registering with Smartzi. Your account verification has successfully been completed.</br></br>
Please complete the registration process using our app and if you encounter any issue during the process then please do not hesitate to contact us.
<p>
Sincerely, 
</div>
<div style="margin-left:0px;font-size:10.0pt;font-family:Open Sans;">
Smartzi
</div>
</p>
</div>
</div>