Dear $FIRST_NAME..,<br/><br/>

Thank you for joining Smartzi. You're now ready to enjoy the best-fixed fare rides all over London<br/><br/>

Here are your login details:<br/><br/>

Username: $AIRPORT_EMAIL <br/>
Password: $AIRPORT_PASSWORD<br/>
Login Website: <a href="https://www.smartzi.com/airport-transfer/" target="_blank">https://www.smartzi.com/airport-transfer/</a><br/><br/>

Do you want to track or book your trips with your phone, we recommend to download our app. <br/><br/>

For any assistance, you can contact us 24/7:<br/><br/>

Smartzi <br/>
info@smartzi.com<br/>
03300 252525.